@import "../../styles/color.scss";

.home-page {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .player-card {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        background-color: #fff;
    }
}