@import '../../styles/color.scss';

.player-item {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
    // color: $text-main-color;
    background-color: #fff;

    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;

        padding-left: 15px;
        font-size: 24px;
        color: $text-sub-color;

        .role-name {
            padding-left: 30px;

            background: url('../../icons/role_name.svg');
        }

        .num {
            padding-left: 30px;

            background: url('../../icons/seat.svg'); 
        }
    }
}